*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(196, 207, 216);
}

.headerSection{
  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #aaa5a5;
}

.balanceDiv{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}

.chartDiv{
  width: 30%;
  height: 100%;
}

.footerSection{
  margin-top: 1.5rem;
  width: 100%;
  height: 17.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recentTransactionDiv{
  width: 65%;
  height: 100%;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #fffef7;
}

.topExpensesDiv{
  width: 35%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #fffef7;
}

@media screen and (max-width: 600px) {
  .balanceDiv{
    flex-direction: column !important;
  }
}